
html,
body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}

body {
    background-size: cover;
    background-color: #627eb9;
    background-repeat: no-repeat;
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.form-control {
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
border-color: rgba(0, 0, 0, 0.8);
border-left: 0;
border-right: 0;
border-top: 0;
border-bottom: white;
box-shadow: 0 4px 2px -2px white;
outline: 0 none;
background-color: rgba(0,0,0,0);
color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}
a, #btnReg, #btnForgot {
    color: white;
}

*::-webkit-input-placeholder {
    color: black!important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: black!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: black!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: black!important;
}

img {
    image-rendering: crisp-edges;
    transition: transform .2s;
}

img:hover {
transform: scale(1.1);
}

h1 {
    font-size: 60px;
}

.card {
    background-size: cover;
    background-color: #8798bd;
    background-repeat: no-repeat;
    -webkit-box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
    box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
}

.modal-content {
    background-size: cover;
    background-color: #8798bd;
    background-repeat: no-repeat;
}

#loginlogo {
    margin-top: -80px;
    width: 120px;
    -webkit-box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
    box-shadow: 1px 11px 22px -2px rgba(0,0,0,0.54);
    border-radius:100px;
}

#submitbtn {
    border-radius: 50px;
}

#navitem {
    color:white;
}

hr {
    background-color: #dcdcdc;
    margin-top: 40px;
}

.wrapper {
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
}

.wrapper h1 {
    font-size: 11vw;
    margin-bottom: 0;
    font-weight: 900;
}

.wrapper h2 {
    font-size: 2vw;
    margin-bottom: 0;
}

.wrapper button {
    width: 50%;
}